#page {
    display: flex;
    flex-direction: row;
}

.menu {
    width: 30%;
}

.Home {
    width: 70%;
    margin-left: 50px;
}
h1{
    text-align:center;
}

h2 {
    margin-top: 35px;
}